<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    {% block assets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock %}
</head>
<body>
    <div class="container">
        {% block header %}
            <div class="header">
                <div class="title">Rock Paper Scissors Splock Lizard</div>
            </div>
        {% endblock %}

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>